/* navbar */
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #2D231F;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: #232000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 10px;
}

.middle {
    display: flex;
    align-items: center;
    padding-right: 25px;

}

.left {
    display: flex;
    margin-left: 100px;
}

.right {
    display: flex;
    margin-right: 100px;
}

.item {
    font-family: 'Rowdies', sans-serif;
    padding: 25px;
    margin: 5px;
    color: #E0B4A6;
}

.item a {
    color: #E0B4A6;
}

.item-1 {
    font-family: 'Rowdies', sans-serif;
    padding: 25px;
    margin: 5px;
    color: #D35D38;
}

.item-1 a {

    color: #D35D38;
}

.img-logo img {
    height: 30px;
    width: 100%;
}

/* Our Vinyls */

.container {
    margin-top: 50px;
    width: 100%;
    display: flex;
}

.filter {
    margin-top: 80px;
    width: 20%;
}

label {
    color: #E0B4A6;
    font-size: 25px;
}

input {
    transform: scale(1.5);
    margin: 10px;
    background-color: #232020;
}

input[type=checkbox] {
    background: #000;
}

input[type=checkbox]:checked {
    background: red;
}

.custom-checkbox label {
    color: #E0B4A6;
    vertical-align: bottom;
}

h2 {
    color: #D35D38;
    margin-left: 20px;
}

.collection {
    width: 60%;
    margin-left: 32px;
}


/*  card */
.card {
    width: 26%;
    border: 1px solid #E0B4A6;
    display: flex;
    flex-direction: column;
    padding: 20px;

}


.card-3 {
    margin-top: 30px;
}

.card img {
    width: 200px;
    height: 200px;
    flex-direction: row;
    margin-left: 18px;

}

h3 {
    color: #E0B4A6;
    font-size: 2em;


}

.paragraph {
    color: #E0B4A6;
    font-size: 20px;
    margin-top: -25px;
}

.ilp {
    color: #E0B4A6;
    font-size: 10px;
    margin-top: -15px;
}

.prix {
    font-size: 32px;
    font-weight: bolder;
    color: #D35D38;
    margin-bottom: -15px;
}

.second-cards-container {
    display: flex;
    gap: 3.33%;
    flex-wrap: wrap;
}

.text {
    display: flex;
    flex-direction: column;

}

.text .ilp {
    margin-bottom: 170px;
}

.image-card-2 {
    margin-left: 10px;
}

.our-vinyls p {
    font-weight: bold;
    font-size: 35px;
    color: #E0B4A6;

    margin-bottom: 5px;

}

.our-vinyls hr {
    background-color: #E0B4A6;
    width: 99.5%;
    height: 2px;
    border: none;
}

/* collection 2 */
.OUR-BEST-SELLERS {
    width: 80%;
    justify-content: center;
    margin: 150px 0;
    margin-left: 10%;
}

.our-best-seller {
    font-weight: bold;
    font-size: 35px;
    color: #E0B4A6;
}

.collection-2 {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 20px;

}

.card-2 {
    width: 25%;
    border: 1px solid #E0B4A6;
    display: flex;
    flex-direction: column;
    padding: 20px
}

/*footer*/
.decoration {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #232000;
    margin-bottom: 0px;
}

.cent {
    display: flex;


}

.cent a {
    color: #E0B4A6;
    text-decoration: none;
    margin-left: 20px;
}


.btn {
    display: none !important;
}

#burgerMenu {
    display: none;
  
  }
  
  #burgerMenu {
    display: none;
    background-color: #232000;
    position: absolute;
    top: 60px;
    left: 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  
  #burgerMenu a {
    display: block;
    padding: 10px;
    color: #E0B4A6;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  #burgerMenu a:hover {
    color: #D35D38;
  }
  
  
  #burgerButton {
    margin-right: 10em;
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: #E0B4A6;
    cursor: pointer;
    padding: 5px;
  }
  
  
  #burgerButton.btn {
    display: block;
  }



/* responsive */
@media (max-width:400px) {

    .left {
        display: none;
    }

    .right {
        display: none;
    }

    .middle {
        padding-right: unset;
    }

    .navbar {
        justify-content: center;
    }

    .cent {
        flex-direction: column;
        align-items: center;
    }

    .footer .container {
        flex-direction: column;
    }

    label {
        font-size: 10px;
    }

    input {
        transform: scale(1);
        margin: 2px;
    }

    .filter h2 {
        font-size: 16px;
        margin-left: 8px;
    }

    .second-cards-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .card {
        width: 80%;
    }

    .card img {
        width: 175px;
        height: 175px;
    }

    .card-3 {
        width: 80%;
        margin-top: 0px;
    }

    .collection-2 {
        flex-direction: column;
        gap: 30px;
    }

    .card-2 {
        width: 86%;
    }

    .container {
        margin-left: 0px;
    }

    .our-best-seller {
        font-size: 28px;
    }
    .img-logo img{
        height: 20px;
    }

    #burgerMenu {
        display: block;
    }

    .btn {
        display: block !important;
    }

}